<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apocalypse Survival Machine Learning Info</title>
    <link rel="stylesheet" href="static/main.css">
</head>
<body>
    <h1>Actual Data vs Predicted Data </h1>
    <img src="Data Graphs\ActualvsPredictedGraph.png" alt="">
    <br>
    <br>
    <h1>Apocalypse Heatmap </h1>
    <img src="Data Graphs\apocalypseheatmap.png" alt="">
    <br>
    <br>
    <h1>Data sheet used to train model</h1>
    <a href="apocalypse_data.csv"><button>Download!</button></a>
</body>
</html>