<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <link rel="icon" href="logo.png">
    <script src="script.js"></script>
    <title>XYZ Ecommerce Company</title>
</head>
<header>
    <nav class="navbar">
        <ul>
            <li><img id="logo" src="logo.png"></li>
            <li id="current"><a href="index.html">Home</a></li>
            <li><a href="aboutus.html">About us</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="products.html">Products</a></li>
            <li><a href="contact.html">Contact us</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="signup.html">Sign up</a></li>
        </ul>
    </nav>
</header>
<body>
    
</body>
</html>