<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/search.css">
    <link rel="icon" href="logo.png">
    <script src="script.js"></script>
    <title>XYZ Ecommerce Company</title>
</head>
<header>
    <nav class="navbar">
        <ul>
            <li><img id="logo" src="logo.png"></li>
            <li id="current"><a href="index.html">Home</a></li>
            <li><a href="aboutus.html">About us</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="products.html">Products</a></li>
            <li><a href="contact.html">Contact us</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="signup.html">Sign up</a></li>
        </ul>
    </nav>
</header>
<body>
    <h1 id="searchHeader">What are you looking for today?</h1>
    <div id="main_container">
        <form action="/" method="POST">
            <input type="text" id="searchbar" name="searchbar" placeholder="E.x: fitness"><br>
            <button type="submit">Submit</button>
        </form>
    </div>
    <div>
        {% if products %}
            <h2>Showing Results for {{ productName }}:</h2>
            <ul>
                {% for product in products %}
                    <li>{{ product }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        
    </div>
</body>
</html>