<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XYZ E-commerce login</title>
    <link rel="icon" href="logo.png">
    <link rel="stylesheet" href="main.css">
    <script src="script.js"></script>
</head>
<body>
    <div id="loginContainer">
        <h1 id="loginMain">Sign Up</h1>
        <br>
        <label class="padLeft">Username</label>
        <br>
        <input type="text" name="" class="padLeft" id="loginText" placeholder="Type your username">
        <br>
        <br>
        <label class="padLeft">Email</label>
        <br>
        <input type="text" name="" class="padLeft" id="loginText" placeholder="Type your username">
        <br>
        <br>
        <label class="padLeft">Phone Number</label>
        <br>
        <input type="tel" name="" class="padLeft" id="loginText" placeholder="Type your username">
        <br>
        <br>
        <label class="padLeft">Password</label>
        <br>
        <input type="password" class="padLeft" id="loginText" placeholder="Type your password">
        <br>
        <br>
        <br>
        <br>
        <button id="logInButton">Sign Up</button>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h4 style="padding-left: 4.4em;">Already have an account?</h4>
        <a href="login.html"><button id="logInButton">Login</button></a>
    </div>
</body>
</html>